#mapid { 
	height: 700px;
	width:  120%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
  padding: 10px;
  height: 700px; /* Should be removed. Only for demonstration */
  text-align:justify;
  opacity: 0.95;
}

   

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
}
